---
---

@import "{{ site.theme }}";

.site-footer-owner,
.site-footer-credits {
  display: none !important;
}

footer small {
  display: none !important;
}
header p.view {
  display: none !important;
}
